* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 500px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body {
    background: black;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px) {
    .container {
        width: auto;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 320px) {
    .container {
        width: auto;
        display: flex;
        align-items: center;
    }
}

.container_outer {
    margin-top: 4em;
    margin-bottom: 2em;
    z-index: 100000;
    height: 600px;
    width: 600px;
    background: #ab8c60;
}

@media (max-width: 500px) {
    .container_outer {
        max-width: 400px;
    }
}

@media (max-width: 320px) {
    .container_outer {
        max-width: 310px;
    }
}

.container_inner {
    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: 6em;
    height: 500px;
    width: 400px;
    align-items: center;
    border: 1px white solid;
    border-radius: 4px;
    background: #ab8c60;
    outline: 1px white outset;
    outline-style: auto;
    box-shadow: 1px 8px 15px 5px #3b2e20;
}

@media (max-width: 500px) {
    .container_inner {
        text-align: center;
        margin-left: 1.5em;
        display: grid;
        max-width: 350px;
    }
}

@media (max-width: 320px) {
    .container_inner {
        text-align: center;
        margin-left: 0.6em;
        display: grid;
        max-width: 290px;
    }
}

.container_inner h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 40px;
    text-align: center;
    color: white;
}

@media (max-width: 500px) {
    .container_inner h2 {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .container_inner h2 {
        font-size: 20px;
        text-align: center;
        margin-right: inherit;
    }
}

.counter_container {
    align-items: center;
    height: 200px;
    width: 200px;
    margin-left: 6em;
    margin-bottom: 1em;
}

@media (max-width: 500px) {
    .counter_container {
        max-width: 150px;
    }
}

@media (max-width: 320px) {
    .counter_container {
        max-width: 100px;
    }
}

.counter_container span {
    padding: 0 0 0 0;
}

.counter_container h1 {
    text-align: center;
    color: green;
    font-size: 150px;
    
}

.container_inner button {
    border: none;
    outline: none;
}

.counter_minus {
    border: none;
    border-radius: 5px;
    display: block;
    width: 35%;
    align-items: center;
    margin-bottom: 0.5em;
    margin-left: 8em;
    padding: 7px;
    background: #0d2c54;
    color: white;
}

@media (max-width: 500px) {
    .counter_minus {
        display: grid;
        width: 50%;
        align-items: center;
        margin-left: 6em;
    }
}

@media (max-width: 320px) {
    .counter_minus {
        display: grid;
        width: 40%;
        align-items: center;
        margin-left: 10em;
        font-size: xx-small;
        margin-bottom: 0.1em;
    }
}

.counter_plus {
    border: none;
    border-radius: 5px;
    display: block;
    width: 30%;
    align-items: center;
    margin-left: 8.5em;
    padding: 7px;
    background: #0d2c54;
    color: white;
}

@media (max-width: 500px) {
    .counter_plus {
        display: grid;
        width: 50%;
        align-items: center;
        margin-left: 6em;
    }
}

@media (max-width: 320px) {
    .counter_plus {
        display: grid;
        width: 40%;
        align-items: center;
        margin-left: 10em;
        font-size: xx-small;
    }
}